body {
    background-color: slategray;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
	background-color: white;
}

h3 {
	background-color: white;
}

.center {
	text-align: center;
}

